table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode, table.sourceCode pre
   { margin: 0; padding: 0; border: 0; vertical-align: baseline; border: none; }
td.lineNumbers { border-right: 1px solid #AAAAAA; text-align: right; color: #AAAAAA; padding-right: 5px; padding-left: 5px; }
td.sourceCode { padding-left: 5px; }
/* keywords and data types */
.sourceCode span.kw { color: #445588; font-weight: bold; }
.sourceCode span.dt { color: #445588; font-weight: bold; }
/* numeric types */
.sourceCode span.dv { color: #009999; }
.sourceCode span.bn { color: #009999; }
.sourceCode span.fl { color: #009999; }
/* char and string */
.sourceCode span.ch { color: #ff1144; }
.sourceCode span.st { color: #ff1144; }
/* comments */
.sourceCode span.co { color: #999988; font-style: italic; }
/* other tokens */
.sourceCode span.ot { color: #007020; }
/* alert */
.sourceCode span.al { color: red; font-weight: bold; }
/* function */
.sourceCode span.fu { color: #06287e; }
/* region mark */
.sourceCode span.re { }
/* error */
.sourceCode span.er { color: red; font-weight: bold; }

.unit-article img {
    display: block;
    margin: 5px 5px 5px 5px;
}
