{% comment %}
This implements the tagging feature of the blog.
{% endcomment %}

<h2><a href="/">Posts tagged '{{ tag_title }}'</a></h2>

{% for post in site.posts %}
  {% for t in post.tags %}
    {% if t == tag_title %}
      <h3>
        <a href = "{{ post.url }}">{{ post.title }}</a>
      </h3>
      {% if post.trunc %}
        <div>{{ post.content | truncatewords : post.trunc }}</div>
      {% else %}
        <div>{{ post.content | truncatewords : 16 }}</div>
      {% endif %}
    {% endif %}
  {% endfor %}
{% endfor %}

