{% comment %}
Navigation links are configured here.
{% endcomment %}

<div class="page-nav-top">
  {% if post.previous %}
  <span class="page-nav-item-prev">
    <a rel="prev" href="{{ post.previous.url }}"
      title="View {{ post.previous.title }}"
      >&larr; View previous article</a>
  </span>
  {% endif %}
  {% if post.next %}
  <span class="page-nav-item-next">
    <a rel="next" href="{{ post.next.url }}"
      title="View {{ post.next.title }}"
      style="float:right"
      >View next article &rarr;</a>
  </span>
  {% endif %}
</div>

