{% comment %}
Look here for title related settings: title format, links to neighbouring
articles and comment count.
{% endcomment %}

{% comment %}
Post variable here will magically refer to the page currently displayed.
Home variable is true when we are on the homepage.
{% endcomment %}

<h2 class="clear">
  {% if home %}
  <a class="post_title" href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
  {% else %}
  <a class="post_title" href="{{ site.url }}" title="Return home">{{ post.title }}</a>
  {% endif %}
</h2>
<span class="date" 
  title="{{ post.date | date_to_xmlschema }}">
  <span class="published">Published on </span>
  <span class="day">{{ post.date | date: '%d' }}</span>
  <span class="month">{{ post.date | date: '%B' }}</span>
  <span class="year">{{ post.date | date: '%Y' }}</span>
  {% if post.author %}
  by
  <span class="author">{{ post.author }}</span>
  {% endif %}
</span>

{% comment %}
Put count of comments near the date.
{% endcomment %}
<script>
  var idcomments_acct = '1fcf96582e25f65364c4ea7fde230e0c';
  var idcomments_post_id = '{{ site.url }}{{ post.url }}';
  var idcomments_post_url = '{{ site.url }}{{post.url }}';
</script>
<script type="text/javascript" src="http://www.intensedebate.com/js/genericLinkWrapperV2.js"></script>

