{% comment %}
Look here for title related settings: title format, links to neighbouring
articles and comment count.
{% endcomment %}

{% comment %}
Post variable here will magically refer to the page currently displayed.
Home variable is true when we are on the homepage.
{% endcomment %}
<header>
    <div class="unit-head">
        <div class="unit-inner unit-head-inner">
            <h1 class="h2 entry-title"> {% if home %}
                <a class="post_title" href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
                {% else %}
                <a class="post_title" href="/" title="Return home">{{ post.title }}</a>
                {% endif %}</h1>
        </div>
        <!-- unit-inner -->
    </div>
    <!-- unit-head -->
</header>
<span class="date"
      title="{{ post.date | date_to_xmlschema }}">
  <span class="published">Published on </span>
  <span class="day">{{ post.date | date: '%d' }}</span>
  <span class="month">{{ post.date | date: '%B' }}</span>
  <span class="year">{{ post.date | date: '%Y' }}</span>
  {% if post.author %}
  by
  <span class="author">{{ post.author }}</span>
  {% endif %}
</span>

{% comment %}
Put count of comments near the date.
{% endcomment %}
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'rtechblog'; // required: replace example with your forum shortname
    var disqus_identifier = '{{ site.url }}{{ post.url }}';
    var disqus_url = '{{ site.url }}{{ post.url }}';
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>