{% comment %}
Here is defined the actual comment box. Don't change anything here.
{% endcomment %}

<div class="comment-area">
  {% unless home %}
  <script>
    var idcomments_acct = '1fcf96582e25f65364c4ea7fde230e0c';
    var idcomments_post_id = '{{ site.url }}{{ post.url }}';
    var idcomments_post_url = '{{ site.url }}{{post.url }}';
  </script>
  <span id="IDCommentsPostTitle" style="display:none"></span>
  <script type='text/javascript' src='http://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>
  {% endunless %}
</div>

