<div class="unit-inner unit-body-inner">
  <div class="entry-content">
    <article class="unit-article layout-post">
      <div class="unit-inner unit-article-inner">
        <div class="content">
          <div class="bd">
            <header>
              <div class="unit-head">
                <div class="unit-inner unit-head-inner">
                  <h1 class="h2 entry-title">
                    <a class="post_title" href="$url$" title="$title$">$title$</a>
                  </h1>
                </div><!-- unit-inner -->
              </div><!-- unit-head -->
            </header>

            <span class="date">
            <span class="published">Published on $date$</span>
            by
            <span class="author">$author$</span>
            </span>

            <br/>
            <span class="meta">
              Tagged:
              <span class="tags">$tags$</span>
            </span>

            $body$

          </div>
        </div>
      </div>
<!-- Social Buttons here -->
	<div id="sociallinks">
  	<a href="https://twitter.com/home?status=$url$"
     		target="_blank">Tweet this</a> -
  	<a href="http://www.facebook.com/sharer/sharer.php?u=$url$"
     		target="_blank">Like this</a> -
  	<a href="https://plus.google.com/share?url=$url$"
     		target="_blank">Share on G+</a>
	</div>
	<script>
		(function(){window.addEventListener("DOMContentLoaded",function(){
		//get URL 
    		var url=document.location;
    		var links=document.getElementById("sociallinks")
                      .getElementsByTagName('a');
    		for (var i=0;i!=links.length;i++){
			// Replacing $url$ with current URL
        		links[i].setAttribute("href",
            		links[i].href.replace('$url$',url));}})})();
	</script>
	</br>
    </article>
  </div>
</div>
