<div class="unit-body">
  <div class="unit-inner unit-body-inner">
    <div class="entry-content">
      <article class="unit-article layout-post">
        <div class="unit-inner unit-article-inner">
          <div class="content">
            <div class="bd">
              <header>
                <div class="unit-head">
                  <div class="unit-inner unit-head-inner">
                    <h1 class="h2 entry-title"> 
                      <a class="post_title" href="$url$" title="$title$">$title$</a>
                    </h1>
                  </div><!-- unit-inner -->
                </div><!-- unit-head -->
              </header>

              <!-- TODO -->
              <span class="date" title="2013-06-20T00:00:00-07:00">
              <span class="published">Published on $date$</span>
              <span class="day">20</span>
              <span class="month">June</span>
              <span class="year">2013</span>
              by
              <span class="author">$author$</span>
              </span>

              <!--
              <script type="text/javascript">
/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
              var disqus_shortname = 'rosedutechblog'; // required: replace example with your forum shortname
              var disqus_identifier = 'http://techblog.rosedu.org/shell-tips-and-tricks-for-file-editing.html';
              var disqus_url = 'http://techblog.rosedu.org/shell-tips-and-tricks-for-file-editing.html';
              /* * * DON'T EDIT BELOW THIS LINE * * */
              (function () {
               var s = document.createElement('script'); s.async = true;
               s.type = 'text/javascript';
               s.src = '//' + disqus_shortname + '.disqus.com/count.js';
               (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
               }());
              </script>
              TODO
              -->

              $body$

            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>
