<div class="unit-inner unit-article-inner">
  <div class="content">
    <div class="bd">
      <header>
        <div class="unit-head">
          <div class="unit-inner unit-head-inner">
            <h1 class="h2 entry-title">
              <a class="post_title" href="$url$" title="$title$">$title$</a>
            </h1>
          </div><!-- unit-inner -->
        </div><!-- unit-head -->
      </header>

      <span class="date">
      <span class="published">Published on $date$</span>
      by
      <span class="author">$author$</span>
      </span>

      <br/>
      <span class="meta">
        Tagged:
        <span class="tags">$tags$</span>
      </span>

      $body$
      <span class="more">
        <a href="$url$">See more content and comments</a>
      </span>

    </div>
  </div>
</div>
