{% comment %}
This is the general template, used throughout the site.
{% endcomment %}

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {% if page.title %}
    <title>ROSEdu Techblog - {{ page.title }}</title>
    {% else %}
    <title>ROSEdu Techblog</title>
    {% endif %}
    <link rel="stylesheet" href="http://rosedu.github.com/techblog/css/styles.css" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="http://rosedu.github.com/techblog/css/rosedu_links.css" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="http://rosedu.github.com/techblog/css/syntax.css" type="text/css" charset="utf-8">
  </head>
  <body>
    <div id="header">
      <div id="site_title"><a href="/"><h1>ROSEdu Techblog :: DEMO</h1></a></div>
      <div id="site_tagline"><h4>open techblog: Operation not permitted.</h4></div>
    </div>
    <div id="meta">
      {% include meta.html %}
    </div>
    <div id="content">
      {{ content }}
    </div>
    <div id="footer" style="text-align:center;">
      <span>
        <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">
          <img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/88x31.png" />
        </a>
      </span>
      <span style="vertical-align:0.5em;">
        This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">
          Creative Commons Attribution 3.0 License
        </a>.
      </span>
    </div>
  </body>
</html>
<script src="http://rosedu.github.com/techblog/js/zepto.min.js"></script>
<script>
  Zepto(function($) {
    var ua = navigator.userAgent;
    if (ua.match(/Android|iPhone|iPad|Mobile/i)) { $("#meta").hide(); }
  });
</script>

