---
layout: default
---

{% comment %}
This is the basic layout for a post. You can derive from it, just like we
derived from default in the above YAML front matter declaration.
{% endcomment %}

{% comment %}
Assign page to post before including the layouts. Also, remembr that this is
not the homepage.
{% endcomment %}
{% assign post = page %}
{% assign home = false %}

<div class="unit-body">
    <div class="unit-inner unit-body-inner">
        <div class="entry-content">
            <article class="unit-article layout-post">
                <div class="unit-inner unit-article-inner">
                    <div class="content">
                        <div class="bd">
                            {% include post_title.html %}
                            {% include nav.html %}
                            {{ content }}
                            {% include nav.html %}
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>

{% include post_comment.html %}

